<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.meditime">

    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Activity.ManageInfoDetailActivity"></activity>
        <activity android:name=".Activity.CallAnswerActivity" />
        <activity android:name=".Activity.CallActivity" />

        <receiver
            android:name=".Util.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".Util.JobIntentCallService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".Activity.AddMedicineTimeActivity" />
        <activity android:name=".Activity.AddMedicineTimeSetActivity" />
        <activity android:name=".Activity.AddMedicineDateActivity" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>